.table{
    padding: 0px;
    .cellWrapper{
        display: flex;
        align-items: center;
        width: 80px;
        height: 80px;
        

        .image{
            width: 100%;
            height: 100%;
        }
    }
}
.tableCell{
    padding: 0px;
}