@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.content{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;

}
.hero {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    /* background-color: #F6F6F6; */
    overflow: hidden;
    background-image: url('../Assets/images/bg.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    background-size: auto;
    background-position: center;
    height: 68vh;
    
    margin-left: -1.9rem;
    overflow: hidden;
}

.logo img{
    width: 70vh;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
    margin-top: 5rem;
}


/* .hero h1 {
    font-size: 7rem;
    padding: 2rem;
    
    font-family: 'Abril Fatface', serif;
    font-weight: 400;
    width: fit-content;
    

    background: linear-gradient(90deg, rgba(255, 191, 21, 1), rgba(242, 84, 27, 1), rgba(201, 24, 83, 1), rgba(168, 24, 110, 1), rgba(106, 4, 135, 1), rgba(48, 29, 125, 1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
} */

.content p {
    width: 38rem;
    text-align: center;
    /* justify-content: center; */
    /* align-self: center; */
    margin-top: 1rem;
    padding: 0.5rem;
    color: white;
    margin-bottom: -1rem;
    
    
}

.content button {
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 3rem;
    margin-right: 1rem;
    border-color: white;
    border-width: 0.2rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: transparent;
       
}

.pl:hover{
    background-color: yellow;
}

.content .herobtn{
    align-self: center;
   
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 3rem;
}