@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.hero{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    text-decoration: none;

}

.herotop {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    /* background-color: #F6F6F6; */
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(244, 185, 27, 0.64), rgba(64, 130, 66, 0.64)),url('../Assets/images/bg.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    text-decoration: none;
}
.herotop .glow{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  transform: translateY(0%);
  height: 100vh;
  width: 100vh;
}

.herotop .glow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(215, 255, 164, 0.5); 
  border-radius: inherit; 
  opacity: 0;
  transition: opacity 0.3s ease-in-out; 
  pointer-events: none; 
  border-radius: 50%; 
  width: 200px;
  height: 200px; 
  filter: blur(90px);
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: -1;
  
}

.herotop .glow:hover::after {
  opacity: 1; 
}

.logo img{
    width: 100vh;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    padding-bottom: 0;
    margin-bottom: 0;
    z-index: 2;
}

.herotop p {
    max-width: 50rem;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    font-size: 18px;
    font-weight: 500;
    z-index: 1;
    text-decoration: none;
    
}

.herobtn a{
  text-decoration: none;
}

.hero .herobtn button {
  text-decoration: none;
}
.hero .herobtn{
    align-self: center; 
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 3rem;
    gap: 20px;
    text-decoration: none;
}
.Btn {
    width: 14rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.134);
    border-radius: 72px;
    border-color:white;
    border-style:solid;
    color: white;
    font-size:20px;
    font-weight: 500;
    gap: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .6s;
    z-index: 1;
    text-decoration: none;
  }
  
  .Btn::before {
    width: 200px;
    height: 200px;
    position: absolute;
    content: "";
    border-radius: 50%;
    left: -100%;
    top: 200%;
    transition-duration: .6s;
    mix-blend-mode: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    text-decoration: none;
  }
  .y::before{
    background-color: #F5CD2A;
  }
  .g::before{
    background-color: #69C323;
  }
  
  .Btn:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-200%);
    border-radius: 72px;
    width: 14rem;
    height: 3.5rem;
    
  }
  .Btn:hover{
    border: none;
    
  }
  
  .Btn:active {
    transform: translate(5px,5px);
    transition-duration: .3s;
  }

  

  /*============ Samsung Galaxy A51/71, S20 Ultra, 
  iPhone 12 Pro, Pixel 7, iPhone SE =============*/

  @media screen and (min-width: 360px) and (max-width: 412px){
    .logo img {
      width: 35vh;
      margin-top: 6rem;
    }
  
    p {
      font-size: 1rem;
    }
  
    .hero .herobtn {
      flex-direction: column;
    }

    .Btn, .Btn:hover::before{
      width: 10rem;
      height: 3rem;
    }

    .herotop{
      height: auto;
      width: auto;
      padding: 1rem;
    }

    .herotop p {
      font-size: 0.8rem;
      margin-top: 1rem;
    }

    .hero .herobtn{
      margin-bottom: 1.5rem;
    }
  }



/*============ Surface Pro 7, iPad Mini 
  iPad Pro, iPad Air =============*/

  @media screen and (min-width: 540px) and (max-width: 1024px){
    .logo img {
      width: 50vh;
      margin-bottom: 1rem;
      margin-top: 6rem;
    }
  
    .herotop p {
      font-size: 0.8rem;
      width: 50vh;
    }
  
    .Btn,
    .Btn:hover::before {
      width: 13rem;
      height: 3rem;
    }

    .herotop{
      height: auto;
      width: auto;
      padding: 1rem;
    }
  }

