@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.hero{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;

}
.herotop {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    /* background-color: #F6F6F6; */
    overflow: hidden;
    background-image: url('../Assets/images/bg.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    background-size: auto;
    background-position: center;
    height: 68vh;
    
    margin-left: -1.9rem;
    overflow: hidden;
}

.logo img{
    width: 70vh;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
    margin-top: 5rem;
}

p {
    width: 38rem;
    text-align: center;
    margin-top: 1rem;
    padding: 0.5rem;
    color: white;
    margin-bottom: -1rem;
    
    
}

.hero button {
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
    width: 10rem;
    height: 3rem;
    margin-left: 2rem;
    border-color: white;
    border-width: 0.15rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: rgba(255, 255, 255, 0.134);
    font-weight: 600;
       
}

.pl:hover{
    background-color: rgba(245, 205, 42, 1);
}

.cw:hover{
    background-color: rgba(105, 195, 35, 1);
}

.hero .herobtn{
    align-self: center; 
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 3rem;
    margin-left: 4rem;
}

/*===========FOR RESPONSIVENESS (SMALL DEVICES)==============*/

@media  screen and (max-width: 600px) {
    .logo img{
        width: 45vh;
        justify-content: center;
    }

    p {
        width: 22rem;
        font-size: 13px;
        justify-content: center;
    }

    .herotop {
        overflow: hidden;
        height: 60vh;
    }

    .hero button {
        padding-left: 1rem;
        width: 9rem;
        margin-left: -0.5rem;
        border-width: 0.13rem;
    }

    
}