.seller {
    background-color: white;
    width: 25%;
    border-radius: 2rem;
}

.seller h1 {
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-left: 2.5rem;
}

.details p{
   margin-left: 1rem;
}

.details td {
    padding: 0.8rem;
}

.details {
    padding-left: 2rem;
}

.details hr{
    border-color: rgba(255, 255, 255, 0.344);
    width: 40vh;
    position: absolute;
    margin-left: 0.7rem;
    background-color: none;
}

.details h2{
    font-size: 1.2rem;
    padding-top: 0.8rem;
}

.socials-icon {
    color: orange;
    font-size: 1.2rem;
}





