.background{
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;


    .box1{
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        width: 60%;
        height: auto;
        background-color: white;
        justify-content: start;
        align-items: center;
        margin: 20px;
        box-shadow: 0px 0px 38px -26px rgba(0,0,0,0.31);
        -webkit-box-shadow: 0px 0px 38px -26px rgba(0,0,0,0.31);
        -moz-box-shadow: 0px 0px 38px -26px rgba(0,0,0,0.31);
        border-radius: 30px;
        padding:20px;

        .SD_Section1{
            display: flex;
            width: 100%;
        }
        .SD_Section2{
            display: flex;
            width: 100%;
            height: auto;
        }
        .SD_Section3{
            width: 100%;
            height: auto;
            padding-left: 30px;
            padding-right: 30px;
        }

        .stat{
            display: flex;
            flex:1;
            align-items: center;
            justify-content: end;
            padding-right: 30px;
        }

        .earn{
            flex: 3;
            width: 100%;
            padding-left: 30px;
            padding-right: 30px;
        }

        h5{
            color: #3771C8;
        }

        h4{
            color: #828282;
            margin: 0;
        }
        h2{
            margin: 0;
            padding: 0;
            font-weight:900;
        }
        hr{
            height: 0;
              borderColor: "#C6C6C6";
              opacity: 0.2;
        }
    }

}