/* .about {
    margin-top: 5rem;
    padding: 5rem;
} */

.about h1 {
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
}

.intro p{
    text-align: center;
    width: 70%;
    margin-left: 20%;
    padding: 2rem;
    color: white;
}

.about h2 {
    padding-bottom: 2rem;
    padding-top: 4rem;
}

.about h3 {
    padding-bottom: 1rem;
}

.about p {
    padding-bottom: 5rem;
    width: 60%;
    /* text-align: justify; */
 } 

 .intro {
    background-image: linear-gradient(to bottom, rgba(244, 185, 27, 0.64), rgba(64, 130, 66, 0.64)),url('../../Components/Assets/images/signin.png');
    background-position: 50% 15%;
    height: 58vh;
    padding-top: 7rem;
 }

 .team {
    margin-left: 7rem;
 }

 .team h1{
    color: black;
    font-size: 2rem;
    padding: 2rem;
    margin-left: -7rem;
 }

 .team img{
    width: 20%;
    padding: 1rem;
    border-radius: 10rem;
    margin-right: 3%;
 }