.category-indexSort {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.category-sort {
    padding: 10px;
    border-radius: 40px;
    border: 1px solid #888;
}

.category-indexSort p span {
    font-weight: 600;
}

.category-products {
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}