.userProfile{
    padding-top:100px;
    
}
.bg{
    height: 165px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    z-index: -1;
}
.userProfile .btn{
    display: '';
}
.sellerCard{
    display: '';
}