.filter{
    background-color: white;
    width: 20rem;
    padding: 1.5rem;
    margin-left: 2rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
}

.filter a {
    text-decoration: none;
    color: black;
}

.filter li{
    padding: 0.3rem;
}

.filter ul {
    list-style: none;
    margin-left: 1.5rem;
}

.filter h2 {
    margin-bottom: 0.5rem;
}

.price-filter {
    margin-top: 1rem;
}

.sub-list {
    margin-left: 1.5rem;
}

.filter h3{
    font-size: 1rem;
}

.price {
    color: grey;
    display: flex;
    flex-direction: row;
}

.price input{
    width: 5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 16px;
    text-align: left;
}

.dash{
    margin-left: 0.7rem;
    margin-top: 0.4rem;
    font-weight: 600;
    color: black;
    margin-right: 0.7rem;
}

.price button {
    background-color: black;
    color: white;
    width: 4rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
    font-weight: 600;
}