.item {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: auto;
    border-radius: 10px;
    padding: 6px;
    background-color: white;  
}

.item img {
    padding: 5px;
    padding-bottom: 0;
    border-radius: 15px;
    max-width: 300px;
}

i {
    font-size: 18px;
}

.item_name {
    padding: 5px 5px;
    color: #4C4C4C;
    width: auto;
    text-align: left;
    font-size: 18px;
}

.item-price {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 10px;
    text-align: left;
}

.bottomPart {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    padding: 0 5px 5px 5px;
    justify-content: space-between;
}

.new-price {
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.old-price {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}


/*============ Samsung Galaxy A51/71, S20 Ultra, 
  iPhone 12 Pro, Pixel 7, iPhone SE =============*/

  @media screen and (min-width: 360px) and (max-width: 412px) {
    .item img {
        width: 180px;
    }
    
    .item {
        width: 190px;        
    }
    
    .item_name{
        margin: 0rem 0rem;
    }

    .item-price {
        display: flex;
        gap: 10px;
        padding-left: 0.3rem;
    }
    
    .new-price,.old-price {
        font-size: 12px;
    }

    .item_name {
        font-size: 12px;
    }
}


/*============ Surface Pro 7, iPad Mini 
  iPad Pro, iPad Air =============*/

  @media screen and (min-width: 540px) and (max-width: 1024px){
    .item img {
        width: 200px;
    }
    
    .item {
        width: 210px;        
    }
    
    .item_name{
        margin: 0rem 0rem;
    }

    .item-price {
        display: flex;
        gap: 10px;
        padding-left: 0.3rem;
    }
    
    .new-price,.old-price {
        font-size: 14px;
    }

    .item_name {
        font-size: 16px;
    }
}
