.preloved{
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    height:50vh;
    align-items: center;
    background-image: url('../../../Components/Assets/images/bg.png');
}

.page-content{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 3rem;
}

.right{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.preloved p {
    margin-top: -1rem;
    width: 40rem;
    text-align: center;
}

.preloved h1{
    font-size: 6rem;    
    font-weight: 600;
    width: fit-content;
    margin-bottom: 1rem;
    margin-top: 5rem;
    text-align: center;
    color: white;
}

.preloved button{
    padding: 1rem;
    margin-left: 0rem;
    margin-right: 2.5rem;
    justify-content: center;
    justify-self: center;
    align-items: center;
    padding-bottom: 0.5rem;
}

.preloved img{
    width: 40rem;
    margin-top: 2rem;
    margin-left: 1rem;
}