.preloved{
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    height:60vh;
    align-items: center;
    width: auto;
    background-image: linear-gradient(to bottom, rgba(89, 197, 105, 0.766), rgba(50, 96, 36, 0.832)),url('../../../Components/Assets/images/plbg.png');
    background-size: cover;
    background-position: contain;
}

.page-content{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 3rem;
}

.right{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.preloved p {
    margin-top: 0rem;
    width: 50rem;
    text-align: center;
    color: white;
}

.preloved h1{
    font-size: 6rem;    
    width: fit-content;
    margin-bottom: 0.5rem;
    margin-top: 6rem;
    text-align: center;
    color: white;
    font-weight: bold;
}

.preloved button{
    padding: 1rem;
    margin-left: 0rem;
    margin-right: 2.5rem;
    justify-content: center;
    justify-self: center;
    align-items: center;
    padding-bottom: 0.5rem;
}

.preloved img{
    width: 40rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

@media screen and (max-width: 480px) {
    .preloved p {
        margin-top: 0rem;
        width: 45%;
        font-size: 0.6rem;
    }
    .preloved h1{
        font-size: 2.7rem;    
        width: fit-content;
        margin-bottom: 0.5rem;
        margin-top: 5rem;
        text-align: center;
        color: white;
        font-weight: bold;
    }
    .preloved{
        height:33vh;
        width: auto;
        background-size: auto;
        margin-left: -30%;
    }
}

@media screen and (max-width: 992px) {
    .preloved p {
        margin-top: 0rem;
        width: 83%;
        font-size: 1rem;
    }
    .preloved{
        height:43vh;
        width: auto;
        background-size: auto;
    }
}