.crafts-top{
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    height:60vh;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(242, 219, 11, 0.662), rgba(131, 128, 31, 0.832)), url('../../../Components/Assets/images/cwbg.png');
    background-size: cover;
    background-position: contain;
}

.page-content{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 3rem;
}

.right{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.crafts-top p {
    margin-top: 0rem;
    width: 45rem;
    text-align: center;
    color: white;
}

.crafts-top h1{
    font-size: 6rem;    
    font-weight: 600;
    width: fit-content;
    margin-bottom: 0.5rem;
    margin-top: 6rem;
    text-align: center;
    color: white;
}

.crafts-top button{
    padding: 1rem;
    margin-left: 0rem;
    margin-right: 2.5rem;
    justify-content: center;
    justify-self: center;
    align-items: center;
    padding-bottom: 0.5rem;
}

.crafts-top img{
    width: 40rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

@media screen and (max-width: 480px) {
    .crafts-top p {
        margin-top: 0rem;
        width: 45%;
        font-size: 0.3rem;
    }
    .crafts-top h1{
        font-size: 3.5rem;    
        width: fit-content;
        margin-bottom: 0.5rem;
        margin-top: 5rem;
    }
    .crafts-top{
        height:35vh;
        width: auto;
        background-size: auto;

    }
}

@media screen and (max-width: 992px) {
    .crafts-top p {
        margin-top: 0rem;
        width: 83%;
        font-size: 1rem;
    }
    .crafts-top{
        height:43vh;
        width: auto;
        background-size: auto;
    }
}