.content{
    padding: 3rem;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    
}
.content .left{
    flex: 2;
}

.content p{
    font-size: 17px;
    color: black;
    padding-bottom: 20px;
    margin-top: 1rem;
}
.content h1 {
    color: #252525;
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
}

.content .topic{
    padding-bottom: 10px;
    float: top;
}

.floatingImg img{
    width: 500px;
    border-radius: 20px;
}
.floatingImg{
    padding-left: 10px;
    flex: 1;
}
.buttons .herobtn{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 1rem;
    margin: 0;
}
.buttons .herobtn .Btn{
    color: black;
    border-color: black;
    padding: 0;
    margin: 0;
}



/*============ Samsung Galaxy A51/71, S20 Ultra, 
  iPhone 12 Pro, Pixel 7, iPhone SE =============*/

  @media screen and (min-width: 360px) and (max-width: 412px){
    .content {
      padding: 2rem;
      margin-left: -1rem;
      justify-content: center;
      justify-items: center;
      display: flex;
      flex-direction: column;
    }
  
    .content h1 {
      font-size: 20px;
      line-height: 1.5;
      text-align: center;
    }
  
    .content p {
      font-size: 14px;
      text-align: center;
    }
  
    .floatingImg img {
      align-self: center;
      border-radius: 1rem;
      width: 40vh;
      padding: 0;
      margin-top: 1rem;
    }
  
    .buttons .herobtn {
      margin-top: 1rem;
      flex-direction: column;
      align-self: center;
      justify-content: center;
    }
    .buttons .herobtn .Btn{
      font-size: 16px;
      align-self: center;
    }
  }
  

  /*============ Surface Pro 7, iPad Mini 
  iPad Pro, iPad Air =============*/

  @media screen and (min-width: 540px) and (max-width: 1024px) {
    .content {
      padding: 5rem;
      justify-content: center;
      justify-items: center;
      display: flex;
      flex-direction: column;
    }
  
    .content h1 {
      margin-top: -2rem;
      font-size: 40px;
      line-height: 1.5;
      text-align: center;
    }
  
    .content p {
      font-size: 16px;
      text-align: center;
    }
  
    .floatingImg img {
      align-self: center;
      border-radius: 1rem;
      width: 50vh;
      margin-top: 2rem;
      margin-left: 2rem;
    }
  
    .buttons .herobtn {
      margin-top: 1rem;
      flex-direction: column;
      align-self: center;
      justify-content: center;
    }

    .buttons .herobtn .Btn{
      font-size: 19px;
      align-self: center;
    }
  }
  