
.content{
    padding: 40px 80px;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    
}
.content .left{
    flex: 2;
}

.content p{
    font-size: 18px;
    color: black;
    padding-bottom: 20px;
}
.content h1 {
    color: #252525;
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
}

.content .topic{
    padding-bottom: 10px;
    float: top;
}

.floatingImg img{
    max-width: 500px;
    min-width: 200px;
    border-radius: 20px;
}
.floatingImg{
    padding-left: 10px;
    flex: 1;
}
.buttons .herobtn{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
    margin: 0;
}
.buttons .herobtn .Btn{
    color: black;
    border-color: black;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .content {
      grid-template-columns: 1fr;
      padding: 32px 50px;
    }
  
    .content h1 {
      font-size: 20px;
      line-height: 1.5;
      text-align: center;
    }
  
    .content p {
      font-size: 14px;
      text-align: center;
    }
  
    .floatingImg img {
      width: 100%;
    }
    .floatingImg{
        padding-top: 20px;
    }
  
    .buttons .herobtn {
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
    .buttons .herobtn .Btn{
        font-size: 16px;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .content {
      grid-template-columns: 1fr;
      padding: 32px 50px;
    }
  
    .floatingImg img {
      width: 100%;
    }
    .floatingImg{
        padding-top: 20px;
        padding-left: 0;
    }
    .buttons .herobtn .Btn{
        font-size: 16px;
    }
    .buttons .herobtn {
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        
      }
      .content h1 {
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
      }
      .content p {
        font-size: 16px;
        text-align: center;
      }
  }
  
  @media screen and (min-width: 480px) and (max-width: 768px) {
    .content {
      grid-template-columns: 1fr;
    }
  
    .content h1 {
      font-size: 24px;
      line-height: 1.5;
      text-align: center;
    }
  
    .content p {
      font-size: 14px;
      text-align: center;
    }
  
    .floatingImg img {
      max-width: 100%;
    }
    .floatingImg{
        padding-top: 20px;
        padding-left: 0;
    }
    .buttons .herobtn .Btn{
        font-size: 16px;
    }
    .buttons .herobtn {
      align-content: center;
      justify-content: center;
      align-items: center;
      
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .content h1 {
      font-size: 28px;
      line-height: 1.5;
      text-align: center;

    }
    .content p{
      text-align: center;
    }
    .buttons .herobtn {
      align-content: center;
      justify-content: center;
      align-items: center;
      
    }
    .content {
        grid-template-columns: 1fr;
      }
    
  
    .floatingImg img {
      max-width: 100%;
    }
    .floatingImg{
        padding-top: 20px;
        padding-left: 0;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .content h1 {
      font-size: 32px;
      line-height: 1.5;
    }
  
    .floatingImg img {
      max-width: 400px;
    }
  }
  
  @media screen and (min-width: 1200px) and (min-width: 1440px) {
    .content h1 {
      font-size: 40px;
    }
  
    .floatingImg img {
      max-width: 500px;
    }
  }