.nav-menu {
    display: flex;
    /* box-shadow: 0 1px 3px -2px black; */
    gap: 5rem;
    justify-content: space-evenly;   
    background-color: transparent;
    background-image: url('../Assets/images/bg.png');
    background-size: auto;
    position: relative;
    overflow: hidden;
    
}

.nav-list {
    display: flex;
    width: auto;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
    list-style: none;
    gap: 5rem;
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-right: 18rem;
    margin-left: -4rem;
}

.nav-list li a {
    color: white;
    text-decoration: none; 
  }

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-menu:active{
    color: white;
}


.nav-menu hr {
    border: none;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 10px;
    background: white;
}

button {
    width: 7rem;
    height: 2.3rem;
    outline: none;
    border: 1px solid grey;
    border-radius: 0.5rem;
    color: grey;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    margin-top: 1.5rem;
    margin-left: -1rem;
}

button:active {
    background: white;
}

.cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
    margin-right: 1.5rem;
    margin-left: -0.5rem;
    border-radius: 11px;
    font-size: 14px;
    background: white;
    color: grey;
}

.icon-style {
    margin-top: 2rem;
    margin-left: 2rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    
}

.nav-button {
    display: flex; 
}

.sign button{
    border: none;
    background-color: #F6F6F6;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 10px;
    width: 10px;
    margin-top: 2rem;
}

/*===========FOR RESPONSIVENESS (SMALL DEVICES)==============*/

@media  screen and (max-width: 600px) {
    .nav-menu {
       display: none;  
    }

}