.nav-menu {
    display: flex;
    /* box-shadow: 0 1px 3px -2px black; */
    gap: 5rem;
    justify-content: space-evenly;   
    background-color: transparent;
    background-image: url('../Assets/images/bg.png');
    background-size: auto;
    position: relative;
    
    overflow: hidden;
    
}

.nav-list {
    display: flex;
    width: auto;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
    padding-left: 2rem;
    padding-right: 10rem;
    list-style: none;
    gap: 5rem;
    color: white;
    font-size: 15px;
    font-weight: 600;
    
    

}

/* .logo {
    display: flex;
    align-items: center;
    gap: 10px;
} */

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-menu:active{
    color: white;
}


.nav-menu hr {
    border: none;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 10px;
    background: white;
}

button {
    width: 7rem;
    height: 2.3rem;
    outline: none;
    border: 1px solid grey;
    border-radius: 0.5rem;
    color: grey;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 7rem;
}

button:active {
    background: white;
}

.cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
    margin-right: 1.5rem;
    margin-left: 1rem;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

.icon-style {
    margin-right: -3.5rem;
    margin-top: 2rem;
}

.nav-button {
    display: flex;
    margin-left: 13rem;
    margin-right: 3rem;
    
}

.sign button{
    border: none;
    margin-right: -1rem;
    margin-left: -1rem;
    background-color: #F6F6F6;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 10px;
    width: 10px;
    margin-top: 2rem;
    margin-left: 2rem;
}