.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: auto; 
    padding: 30px 80px;  
}

.popular h1 {
    color: #252525;
    font-size: 40px;
    font-weight: 600;
    margin-top: 1.5rem;
}

.popular hr {
    width: 5rem;
    height: 0.1px;
    border-radius: 30px;
    background: #252525;
    margin-top: -1rem;
    padding-bottom: 2px;
    
}

.popular-item {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 100%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
.owl-nav > div {
  margin-top: 26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: 30px;
}

.owl-nav .owl-next {
  right: -30px;
}



/*============ Samsung Galaxy A51/71, S20 Ultra, 
  iPhone 12 Pro, Pixel 7, iPhone SE =============*/

  @media screen and (min-width: 360px) and (max-width: 412px) {
    .popular{
        padding: 0.5rem; 
    }
    
    .popular h1 {
        font-size: 20px;
        padding-bottom: 1px;
    }

    .popular hr {
        width: 1rem;
    }

    .popular-item {
        gap: 10px;
    }
  
    
  }
  
  @media screen and (min-width: 320px) and (max-width: 480px) {
   
    .popular h1 {
        font-size: 22px;
        padding-bottom: 1px;
    }

    .popular hr {
        width: 2rem;
    }

    .popular-item {
        gap: 10px;
    }
  }
  
  @media screen and (min-width: 480px) and (max-width: 768px) {
    .popular h1 {
        font-size: 24px;
        padding-bottom: 1px;
    }

    .popular hr {
        width: 3rem;
    }

    .popular-item {
        gap: 10px;
    }
  } 
  

@media screen and (max-width: 768px) {
    .slideshow {
        width: 100%;
        overflow: hidden;
      }
      
      .popular-item {
        display: flex;
        transition: transform 0.5s ease-in-out;
         
      }
      
      .slide {
        flex-shrink: 0; /* Prevent items from shrinking */
        width: 100%;
        opacity: 0;
      }
      
      .slide.active {
        opacity: 1;
        transform: translateX(0);
      }
      
      .dots {
        display: flex;
        justify-content: center;
        margin-top: 10px;
      }
      
      .dot {
        cursor: pointer;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        border-radius: 50%;
        background-color: #ccc;
        transition: background-color 0.3s ease-in-out;
      }
      
      .dot.active {
        background-color: #333;
      }
      
}
  
  
  
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .popular h1 {
        font-size: 28px;
        padding-bottom: 1px;
    }

    .popular hr {
        width: 3rem;
    }

    .popular-item {
        gap: 20px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .popular h1 {
        font-size: 32px;
        padding-bottom: 1px;
    }

    .popular hr {
        width: 4rem;
    }

    .popular-item {
        gap: 20px;
    }
  }
  
  @media screen and (min-width: 1200px) and (min-width: 1440px) {
    .popular h1 {
        font-size: 40px;
        padding-bottom: 1px;
    }

    .popular hr {
        width: 4rem;
    }
  }