.productdisplay {
    height: 100vh;
}

.productdisplay-left {
    display: flex;
    flex-direction: row;
}

.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.productdisplay-list-img {
    width: 20vh;
    padding: 0.5rem;
}

.productdisplay-main-img {
    width: 60vh;
    padding: 0.5rem;
}